# Virtual Environments
.venv/
venv/
myenv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# VS Code
.vscode/

# Environment Variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Misc
.idea/